* {
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
}

div.particle {
    width: 112px;
    height: 112px;
    position: absolute;
    bottom: 100%;
    animation: rain 1s ease-in infinite;
}

div.particle_bg {
    width: 112px;
    height: 112px;
    transform: rotate(270deg);
}

div.particle_bg.small {

}

div.particle_bg.med {

}

div.particle_bg.lg {

}

div.particle_bg.rnd_small {
    opacity: 0.8;
}

div.particle_bg.rnd_med {
    opacity: 0.9;
}

div.particle_bg.rnd_lg {
    opacity: 1.0;
}

@keyframes rain {
    from {
        transform: rotate(90deg) translateX(0);
    }
    to {
        transform: rotate(90deg) translateX(calc(100vh + 120px));
    }
}

@keyframes wobble {
    from {
        transform: rotate(260deg);
    }
    to {
        transform: rotate(280deg);
    }
}