* {
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.particle {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 100%;
    animation: rain 1s ease-in infinite;
}

div.particle_bg {
    width: 120px;
    height: 120px;
    transform: rotate(250deg);
}

@keyframes rain {
    from {
        padding-left: 0;
        transform: rotate(110deg) translateX(0);
    }
    to {
        padding-left: 100px;
        transform: rotate(110deg) translateX(calc(100vh + 120px));
    }
}

@keyframes wobble {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 100px;
    }
}

@keyframes clockwork {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(41deg);
    }
    50% {
        transform: rotate(36deg);
    }
    100% {
        transform: rotate(36deg);
    }
}
